{
  "extends": "seneca",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "consistent-this": 0,
    "no-use-before-define": 0
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true
  }
}
