language: node_js
sudo: required

node_js:
  - "5"
  - "4"

env:
  - DB_NAME=concordatest

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test;
  - sudo apt-get update;
  - sudo apt-get install gcc-4.8 g++-4.8;
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.8 20;
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 20;
  - sudo g++ --version;
  - sudo apt-get update -qq;
  - psql -U concorda_test -f test/dbschema.sql

addons:
  postgresql: "9.4"

services:
  - postgresql

